.social{
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;

    & li{
      &:nth-child(n + 2){
        margin-left: 10px;
      }
    }
  }

  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
  
    color: var(--soc-ico-col);
    background-color: var(--white-color);
    transition: var(--cubic-animation-time);

    &:focus,&:hover{
      fill: var(--white-color) ;
      color: var(--white-color);
      background-color: var(--first-color);
      transition: var(--cubic-animation-time);
    }
  }

  &__icon {
    fill: currentColor;
  }
}

