
.container {
  max-width: 480px;
  min-width: 320px;
  align-self: center;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}