.page-footer__social{
  @media screen and (max-width:768px){
    margin-bottom: 60px;
  }
  
  @media screen and (min-width:1200px) {
    margin-left: 70px;
    margin-top: 14px;
    display: inline-block;
  }

  & h3{
    &.common-title{
      @media screen and (max-width:768px) {
        text-align: center;
      }
      

      margin-bottom: 20px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--white-color);
    }
  }

  .page-footer{
    &__list{
      display: flex;
      align-items: center;
      justify-content: center; 
  
      & li{
        &:nth-child(n + 2){
          margin-left: 10px;
        }
      }
    }
  
    &__link{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 0;
      border: none;
      width: 44px;
      height: 44px;
    
      transition: var(--cubic-animation-time);
      color: var(--white-color);
      background-color: rgba(255, 255, 255, 0.1);
  
      &:hover,&:focus{
        fill: var(--white-color) ;
        color: var(--white-color);
        background-color: var(--first-color);
        transition: var(--cubic-animation-time); 
      }
    }
  
    &__icon{
      fill: currentColor;
    }
  }
}

