.page-footer{
  margin: 0 auto;
  background: var(--hero-main-bg);

  & .container{
    padding: 60px 15px;
    align-items: baseline;
  }

  &__adress{
    display: flex;
    flex-direction: column;
  }
  
  &__logo{
    display: inline-block;
    font-family: 'Raleway', sans-serif;    
    font-style: normal;    
    font-weight: bold;    
    font-size: 26px;   
    line-height: 35px;
    letter-spacing: 0.03em; 
    color: var(--white-color);
  }
}

a{
  &.page-footer__logo{
    display: flex;
    
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

.web{
  &.page-footer__logo{
    color: var(--first-color);
  }
}