.page-footer{
  &__subscribe{
    
    @media screen and (min-width:1200px) {
      display: inline-block;
      margin-left: 70px;
    }
    
    & h3{
      &.common-title{
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-color);

        @media screen and (max-width:768px) {
          text-align: center;
        }
      }
    }
  }

  &__container{

    display: flex;
    
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center; 
    }
  }

  &__mail{
    
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
      
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background-color: var(--hero-main-bg);
    color: var(--white-color);

    @media screen and (max-width: 768px){
      width: 450px;
      margin-bottom: 20px;
    }

    @media screen and (min-width:1200px){
      width: 358px;
      height: 50px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__button{
    
    position: relative ;
    display: inline-block;
    align-items: baseline;
      
    margin-left: 10px;
    padding: 10px 25px;
    width: 200px;
    height: 50px;
    
    background: var(--first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
    
    outline: none;
    border: none;
    
    & span{
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
      margin-right: 10px;
      height: 30px;
      
      display: flex;
      align-items: left;
      text-align: left;
      justify-items: baseline;
      letter-spacing: 0.06em;
      
      color: var(--white-color);
    }
    
    &:focus,&:hover{
      fill: var(--white-color) ;
      color: var(--white-color);
      background-color: var(--first-color);
      transition: var(--cubic-animation-time); }
  }

  &__ico{
    position: absolute;
    left: 73.31%;
    right: 15.19%;
    top: 25%;
    bottom: 3.65%;
  }
}

