.page-footer{
  margin: 0 auto;
  padding: 60px 0;
  background: var(--hero-main-bg);

  & .container{

    @media screen and (min-width: 768px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and(min-width:1200px) {
      align-items: baseline;
      width: 1200px;
    }
    
  }

  &__adress{

    @media screen and (max-width:767px) {
      display: flex;
      flex-direction: column;
    }
    
    @media screen and (min-width: 768px)and(max-width:1199px){
      text-align: center;
    }
  }
  
  &__logo{
    @media screen and (max-width:767px) {
      display: flex;
    
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    // @media screen and (min-width:768px) and (max-width:1199px) {
      
    // }
    display: inline-block;
    font-family: 'Raleway', sans-serif;    
    font-style: normal;    
    font-weight: bold;    
    font-size: 26px;   
    line-height: 35px;
    letter-spacing: 0.03em; 
    color: var(--white-color);
  }
}

.web{
  &.page-footer__logo{
    color: var(--first-color);
  }
}

// a{
//   &.page-footer__logo{
//     display: flex;
    
//     align-items: center;
//     justify-content: center;
//     margin: 0 auto;
//   }
// }