*{
  margin: 0;
  padding: 0;
}
  
a {
  text-decoration: none;
  display: inline-block;
}
  
ul{
  list-style: none;
}
  
body{
  color: var(--second-color);
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
    
}
  
h2,h3{
  color: var(--second-color);
  font-style: normal;
  font-weight: bold;
}
  
img {
  display: block;
  max-width: 100%;
  height: auto;
}
  