.header-contacts{
  display: none;
  @media (min-width: 768px){
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 330px;

    & li{
      margin-left: 50px;
    }
  }

  .header-contacts{
    & li{
      &:first-child{
        margin-left: 0px;
      }
    }
  
    & .header-contacts__link{
      color: var(--third-color);
      font-style: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      transition: var(--cubic-animation-time);
    }
  }

  .header-contacts__link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--cubic-animation-time);
  
  }

  .header-contacts{
    & .header-contacts__link{
      &:hover,&:focus{
        &::after{
          color: var(--first-color);
          opacity: 0;
          transform: scaleX(1);
          transition: var(--cubic-animation-time);
        }
      }
    }
  
  }

  .header-contacts{
    & .header-contacts__link{
      &:hover,&:focus{
        color: var(--first-color);
        transition: var(--cubic-animation-time);
      }
    }
  }

  .header-contacts__icon{
    margin-right: 5px;
    fill: currentColor;
  
    &:hover,&:focus{
      fill: currentColor;
      color: var(--first-color);
      transition: var(--cubic-animation-time);
    }
  }
}