.header{
  
  padding-top: 24px;
  padding-bottom: 25px; 
  margin: 0 auto;

  border: 1px solid var(--head-border-color);
  background: var(--white-color);

  &-nav {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
    }
  }

  &-logo{
    @media screen and (min-width:768px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & .container{

    @media (max-width: 767px){
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 768px){
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 1200px){
      max-width: 1200px;
    }
  }
}