.header{
  position: relative;
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px; 
  margin: 0 auto;
  border: 1px solid var(--head-border-color);
  background: var(--white-color);

  &-nav {
    display: none;
    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

