
.header-nav{
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item{
    margin-left: 50px;
  
    & li:first-child{
      margin-left: 0px;
    }
  }

  &__link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    transition: var(--cubic-animation-time);
    color: var(--third-color);

    &:hover,
    &:focus {
      &::after{
        color: var(--first-color);
        opacity: 1;
        transform: scaleX(1);
        transition: var(--cubic-animation-time);       
      }
    }
  
    &::after{
      position: absolute;
      top: 48px;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
  
      content: '';
      display: block;
  
    
      border-radius: 2px;
      background-color: var(--first-color);
  
      opacity: 0;
      transform: scaleX(0);
      transition: transform var(--cubic-animation-time),
        opacity var(--cubic-animation-time);
    }
  
    &.current{

      position: relative;
      color: var(--first-color);

      &::after{
        position: absolute;
        top: 48px;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
  
        content: '';
        display: block;
        opacity: 1;
        transform: scaleX(1);
  
        border-radius: 2px;
        background-color: var(--first-color);
      }
    }
  }

  
}