.header{
  
  padding-top: 24px;
  padding-bottom: 25px; 
  margin: 0 auto;

  border: 1px solid var(--head-border-color);
  background: var(--white-color);

  &-nav {
    display: none;
    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-logo{
    @media screen and (min-width:1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & .container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 480px;
    
    @media (max-width: 480px){
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: 768px){
      max-width: 768px;
    }

    @media (max-width: 1200px){
      max-width: 1200px;
    }
  }
}