h2.project_name{
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project{
  &__list{
    
    display: flex;
    flex-wrap: wrap;

    

    @media screen and (min-width:1200px){
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(-1 * var(--card-set-gap));
      margin-top: calc(-1 * var(--card-set-gap));

    }

    & > .project__item{
      
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0;
      }
      @media screen and (max-width: 767px){
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        &:not(:last-child){
          margin-bottom: 30px;
        }
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin: 15px;
        width: calc((100% - 4 * 15px) / 2);
      }
      @media screen and (min-width:1200px) {
        flex-basis: calc(100% / 3 - var(--card-set-gap));
        margin-left: var(--card-set-gap);
        margin-top: var(--card-set-gap);
      }
    }
  }

  &__content{
    padding: 20px 24px;
  }

  &__thumb{
    position: relative;
    overflow: hidden;

    & p{
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 63px 24px;
      height: 100%;
      width: 100%;
      
      letter-spacing: 0.03em;
      font-size: 18px;
      line-height: 28px;
      
        
      background-color: rgba(33, 150, 243, 0.9);
      color: var(--white-color);
        
      transform: translateY(100%);
      transition: transform var(--cubic-animation-time);
    }
  }

  &__filter{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    
    color: var(--third-color);
  }

  &__item{
    transition: var(--cubic-animation-time);
    background: var(--white-color);
    border: 1px solid var(--card-portfborder-color); 

    &:hover,:focus{
      box-shadow: var(--filter-items-shadow);
      transition: var(--cubic-animation-time);

      & .project__thumb{
        & p{
          transform: translateY(0);
          transition: transform var(--cubic-animation-time);

          box-shadow: var(--filter-items-shadow);
        }
      }
    }
  }
}