.feature{
  display: flex;
  padding: 94px 0px;
  max-width: 1200px;
  margin: 0 auto;

  &__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    padding: 20px 100px;
    margin-bottom: 30px;
    
    border-radius: 4px;
    background-color: var(--filter-color);
  }

  &__list{
    justify-content: center;
    align-items: center;
    @media screen and (min-width:1200px){
      display: flex;
    }
  }

  &__item{
    &:nth-child(n + 2){
      margin-left: 30px; 
    }
  }

  &__title{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__description{
    max-width: 270px; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--third-color);
  }
}
