.team{
  background-color: var(--filter-color);

  & h2.common__title{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px 0px 30px;

    @media screen and (min-width:1200px){
      margin: 0px 0px 50px;
    }
  }

  &__container{
    max-width: 480px;
    margin: 0 auto;
    padding: 60px 15px;

    @media screen and (min-width:1200px) {
      max-width: 1200px;
      padding: 94px 15px;
    }
  }

  &__list{
    margin: 0 auto;
    @media screen and (min-width:1200px) {
      display: flex;
      margin-left: -30px;
    }
  }

  &__item{
    background: var(--white-color);
    box-shadow: var(--team-box-shadow);  
    border-radius: var(--team-border-radius);
    
    @media screen and (max-width:768px){
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0px;
      }
    }

    @media screen and (min-width:1200px){
      flex-basis: calc(100% / 3 - 30px);
      margin-left: 30px; 
    }
  }

  &__content{
    padding: 30px 32px ;
    text-align: center;
  }

  &__name{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }

  &__profesion{
    margin-bottom: 16px;
    color: var(--third-color);
    font-weight: normal;
  }
}

.img__thumb{
  max-width: 450px;
  max-height: 460px;
  border-radius: 0px;
}