.works{
  padding-bottom: 94px;
  max-width: 1200px;
  margin: 0 auto;

  & h2.common_title{
    display: block;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  &__list{
    padding: 0;
    margin: 0;
    justify-content: center;
    margin-left: calc(-1 * 30px);
    @media screen  and (min-width:1200px) {
      display: flex;
    }
  }

  &__item{
    flex-basis: calc(100% / 3);
    margin-left: 30px; 
  }

  &__actions{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);

    & h3{
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      
      padding: 27px 0;
      color: var(--white-color);
    }
  }
}

.works__thumb{
  position: relative;
}